@model Gestmove.Models.tb_viagem

@{
    ViewBag.Title = "Details";
}

@*Breadcrumb*@
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Detalhes</li>
    <li class="breadcrumb-item active">@Html.DisplayFor(model => model.cod_viagem)</li>
</ol>

<section class="container-viagens">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-body">
                    <div class="row mt-5">
                        <div class="col-4">
                            <div class="list-group" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="tab" href="#list-pessoais" role="tab" aria-controls="list-home" aria-selected="true">Dados iniciais</a>
                                <a class="list-group-item list-group-item-action" id="list-endereco-list" data-toggle="tab" href="#list-endereco" role="tab" aria-controls="list-profile" aria-selected="false">Entrada e saída</a>
                                <a class="list-group-item list-group-item-action" id="list-nfe-list" data-toggle="tab" href="#list-nfeValor" role="tab" aria-controls="list-profile" aria-selected="false">Valores e nota fiscais</a>
                            </div>
                        </div>

                        <div class="col-md-8 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fas fa-route mr-3"></i> Detalhes da entrada e saída do #@Html.DisplayFor(model => model.cod_viagem)
                                </div>
                                <div class="card-body">
                                    <div class="tab-content border-0" id="nav-tabContent">
                                        <div class="tab-pane fade active show" id="list-pessoais" role="tabpanel" aria-labelledby="list-home-list">
                                            <div class="list-view">
                                                <h4>
                                                    Motorista
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.tb_pessoa1.nome_abreviado)
                                                </p>
                                            </div>
                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Cliente
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.tb_pessoa.nome_abreviado)
                                                </p>
                                            </div>
                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Veículo
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.tb_veiculo.modelo)
                                                </p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="list-endereco" role="tabpanel" aria-labelledby="list-profile-list">
                                            <div class="list-view">
                                                <h4>
                                                    Data da saída
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.data_saida)
                                                </p>
                                            </div>
                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Data preventiva da chegada
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.prev_chegada)
                                                </p>
                                            </div>
                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Data de chegada
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.data_chegada)
                                                </p>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="list-nfeValor" role="tabpanel" aria-labelledby="list-profile-list">
                                            <div class="list-view">
                                                <h4>
                                                    Valor da viagem
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.valor)
                                                </p>
                                            </div>
                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Nota fiscal
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.NF)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a href="/Viagens" class="btn btn-default text-center">
                                <i class="fas fa-arrow-left mr-3"></i> Voltar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>