@model IEnumerable<Gestmove.Models.tb_seguro>

@{
    ViewBag.Title = "Index";
}

@*Breadcrumb*@
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Seguros</li>
    <li class="breadcrumb-item active">Todos</li>
</ol>

<section class="container-seguros">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h2>Todas os seguros registrados</h2>
                        </div>

                        <div class="col-4 d-flex justify-content-end">
                            <a href="#" onclick="alert('Em breve!')" class="btn btn-add">Em breve</a>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <table class="table table-responsive-sm table-striped">
                                <thead>
                                    <tr>
                                        <th>Cnh</th>
                                        <th>Rg</th>
                                        <th>Crv</th>
                                        <th>Crvl</th>
                                        <th>Própio alugado?</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.cnh)</td>
                                            <td>@Html.DisplayFor(modelItem => item.rg)</td>
                                            <td>@Html.DisplayFor(modelItem => item.crv)</td>
                                            <td>@Html.DisplayFor(modelItem => item.crvl)</td>
                                            <td>@Html.DisplayFor(modelItem => item.tb_veiculo.proprio_alugado)</td>

                                            <td class="links-acoes">
                                                <a href="#" onclick="alert('Em breve')" class="btn-funcoes btn-show mx-3">
                                                    <i class="far fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>