@model Gestmove.Models.tb_pessoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_pessoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome_abreviado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_abreviado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.razao_social)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razao_social)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_j)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_j)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rg_cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rg_cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpf_ie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpf_ie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.logradouro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logradouro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.regiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.regiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_carteira)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_carteira)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pontos_carteira)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pontos_carteira)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_contratacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_contratacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_fornec_msa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_fornec_msa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_msa1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_msa1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_msa2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_msa2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_msa3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_msa3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_pessoa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
