@model Gestmove.Models.tb_pessoa

@{
    ViewBag.Title = "Edit";
}

@*Breadcrumb*@
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"> Editar </li>
    <li class="breadcrumb-item active">@Html.DisplayFor(model => model.nome_abreviado)</li>
</ol>

<section class="container-pessoas">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12">
                            <h2>Editar @Html.DisplayFor(model => model.nome_abreviado)</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-row">
                        <div class="col-12 px-3 mt-4">
                            <h4>Dados pessoais</h4>
                            <hr />
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID_pessoa)
                        <div class="form-group col-12">
                            <div class="d-flex flex-column flex-md-row justify-content-center">
                                <div class="item-bloco col-5">
                                    <label>Tipo de pefil <sup class="text-danger">*</sup></label>
                                    @Html.ValidationMessageFor(model => model.tipo, "", new { @class = "text-danger" })
                                    <select name="tipo" class="form-control custom-select" id="tipo">
                                        <option>Escolher</option>
                                        <option value="1">Cliente</option>
                                        <option value="2">Fornecedor</option>
                                        <option value="3">Motorista</option>
                                    </select>
                                </div>

                                <div class="item-bloco col">
                                    <label>Nome <sup class="text-danger">*</sup></label>
                                    @Html.EditorFor(model => model.nome_abreviado, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.nome_abreviado, "", new { @class = "text-danger" })
                                </div>

                                <div class="item-bloco col">
                                    <label>E-mail <sup class="text-danger">*</sup></label>
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-12 px-3 mt-4">
                            <h4>Dados empresariais</h4>
                            <hr />
                        </div>
                        <div class="form-group col-12">
                            <div class="d-flex flex-column flex-md-row justify-content-center">
                                <div class="item-bloco col">
                                    <label>Razão social</label>
                                    @Html.EditorFor(model => model.razao_social, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.razao_social, "", new { @class = "text-danger" })
                                </div>

                                <div class="item-bloco col">
                                    <label>Fisico ou Júridico <sup class="text-danger">*</sup></label>
                                    @Html.ValidationMessageFor(model => model.f_j, "", new { @class = "text-danger" })
                                    <select name="f_j" class="form-control custom-select" id="f_j">
                                        <option>Escolher</option>
                                        <option value="f">Fisico</option>
                                        <option value="j">Júridico</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-12">
                            <div class="d-flex flex-column flex-md-row justify-content-center">
                                <div class="item-bloco col">
                                    <label>Rg ou Cnpj</label>
                                    @Html.EditorFor(model => model.rg_cnpj, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.rg_cnpj, "", new { @class = "text-danger" })
                                </div>

                                <div class="item-bloco col">
                                    <label>Cpf ou Ie <sup class="text-danger">*</sup></label>
                                    @Html.EditorFor(model => model.cpf_ie, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.cpf_ie, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-12 px-3 mt-4">
                            <h4>Endreço</h4>
                            <hr />
                        </div>
                        <div class="form-group col-12">
                            <div class="d-flex flex-column flex-md-row justify-content-center">
                                <div class="item-bloco col">
                                    <label>Logradouro</label>
                                    @Html.EditorFor(model => model.logradouro, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.logradouro, "", new { @class = "text-danger" })
                                </div>

                                <div class="item-bloco col">
                                    <label>Número <sup class="text-danger">*</sup></label>
                                    @Html.EditorFor(model => model.numero, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.numero, "", new { @class = "text-danger" })
                                </div>

                                <div class="item-bloco col">
                                    <label>Complemento</label>
                                    @Html.EditorFor(model => model.compl, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.compl, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-12">
                            <div class="d-flex flex-column flex-md-row justify-content-center">
                                <div class="item-bloco col">
                                    <label>Cep <sup>*</sup></label>
                                    @Html.EditorFor(model => model.cep, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.cep, "", new { @class = "text-danger" })
                                </div>

                                <div class="item-bloco col">
                                    <label>Bairro <sup class="text-danger">*</sup></label>
                                    @Html.EditorFor(model => model.bairro, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.bairro, "", new { @class = "text-danger" })
                                </div>

                                <div class="item-bloco col">
                                    <label>Municipío <sup>*</sup></label>
                                    @Html.EditorFor(model => model.municipio, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.municipio, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-12">
                            <div class="d-flex flex-column flex-md-row justify-content-center">
                                <div class="item-bloco col">
                                    <label>UF</label>
                                    @Html.EditorFor(model => model.uf, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.uf, "", new { @class = "text-danger" })
                                </div>

                                <div class="item-bloco col">
                                    <label>Região <sup class="text-danger">*</sup></label>
                                    @Html.EditorFor(model => model.regiao, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.regiao, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-12">
                            <div class="d-flex flex-column flex-md-row justify-content-center">
                                <div class="item-bloco col">
                                    <label>Telefone <span class="text-danger">(Sem prefixo)</span></label>
                                    @Html.EditorFor(model => model.telefone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.telefone, "", new { @class = "text-danger" })
                                </div>

                                <div class="item-bloco col">
                                    <label>Celular <span class="text-danger">(Sem prefixo)</span></label>
                                    @Html.EditorFor(model => model.celular, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.celular, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-12 px-3 mt-4">
                            <h4>Dados do motorista</h4>
                            <hr />
                        </div>

                        <div class="form-group col-12">
                            <div class="d-flex flex-column flex-md-row justify-content-center">
                                <div class="item-bloco col">
                                    <label>Tipo da carteira <sup>*</sup></label>
                                    @Html.EditorFor(model => model.tipo_carteira, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.tipo_carteira, "", new { @class = "text-danger" })
                                </div>

                                <div class="item-bloco col">
                                    <label>Cnh <sup class="text-danger">*</sup></label>
                                    @Html.EditorFor(model => model.cnh, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.cnh, "", new { @class = "text-danger" })
                                </div>
                                <div class="item-bloco col">
                                    <label>Pontos na carteira <sup>*</sup></label>
                                    @Html.EditorFor(model => model.pontos_carteira, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.pontos_carteira, "", new { @class = "text-danger" })
                                </div>

                                <div class="item-bloco col">
                                    <label>Data da contratação <sup class="text-danger">*</sup></label>
                                    @Html.EditorFor(model => model.data_contratacao, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.data_contratacao, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-12">
                            <div class="d-flex flex-column flex-md-row justify-content-center">
                                <div class="item-bloco col">
                                    <label>Tipo_fornec_msa <sup>*</sup></label>
                                    @Html.EditorFor(model => model.tipo_fornec_msa, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.tipo_fornec_msa, "", new { @class = "text-danger" })
                                </div>

                                <div class="item-bloco col">
                                    <label>tipo_msa1</label>
                                    @Html.EditorFor(model => model.tipo_msa1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.tipo_msa1, "", new { @class = "text-danger" })
                                </div>

                                <div class="item-bloco col">
                                    <label>tipo_msa2</label>
                                    @Html.EditorFor(model => model.tipo_msa2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.tipo_msa2, "", new { @class = "text-danger" })
                                </div>

                                <div class="item-bloco col">
                                    <label>tipo_msa3</label>
                                    @Html.EditorFor(model => model.tipo_msa3, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.tipo_msa3, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-12 px-3 mt-4">
                            <h4>Dados complementares</h4>
                            <hr />
                        </div>

                        <div class="form-group col-12">
                            <div class="d-flex flex-column flex-md-row justify-content-center">
                                <div class="item-bloco col">
                                    <label>Observações </label>
                                    @Html.EditorFor(model => model.observacao, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.observacao, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-12">
                            <div class="d-flex flex-column flex-md-row justify-content-between">
                                <div class="item-bloco pr-3">
                                    <a href="/Pessoas" class="btn btn-default bg-danger"><i class="fas fa-times mr-3"></i> Cancelar</a>

                                </div>
                                <div class="item-bloco pr-3">
                                    <button type="submit" class="btn btn-default"><i class="far fa-save mr-3"></i> Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


@*<h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>tb_pessoa</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID_pessoa)

            <div class="form-group">
                @Html.LabelFor(model => model.tipo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tipo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tipo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.nome_abreviado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nome_abreviado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nome_abreviado, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.razao_social, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.razao_social, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.razao_social, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.f_j, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.f_j, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.f_j, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.rg_cnpj, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.rg_cnpj, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.rg_cnpj, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cpf_ie, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cpf_ie, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cpf_ie, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.logradouro, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.logradouro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.logradouro, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.numero, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.numero, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.numero, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.compl, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.compl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.compl, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cep, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cep, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cep, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.bairro, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.bairro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.bairro, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.municipio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.municipio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.municipio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.uf, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.uf, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.uf, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.regiao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.regiao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.regiao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.telefone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.telefone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.telefone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.celular, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.celular, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.celular, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.tipo_carteira, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tipo_carteira, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tipo_carteira, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cnh, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cnh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cnh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pontos_carteira, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.pontos_carteira, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.pontos_carteira, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.data_contratacao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.data_contratacao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.data_contratacao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.tipo_fornec_msa, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tipo_fornec_msa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tipo_fornec_msa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.tipo_msa1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tipo_msa1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tipo_msa1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.tipo_msa2, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tipo_msa2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tipo_msa2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.tipo_msa3, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tipo_msa3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tipo_msa3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.observacao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.observacao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.observacao, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
