@model Gestmove.Models.tb_locacao

@{
    ViewBag.Title = "Details";
}

@*Breadcrumb*@
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Detalhes</li>
    <li class="breadcrumb-item active">@Html.DisplayFor(model => model.tb_pessoa.nome_abreviado)</li>
</ol>

<section class="container-locacoes">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-body">
                    <div class="row mt-5">
                        <div class="col-4">
                            <div class="list-group" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="tab" href="#list-pessoais" role="tab" aria-controls="list-home" aria-selected="true">Dados do contrato</a>
                                <a class="list-group-item list-group-item-action" id="list-endereco-list" data-toggle="tab" href="#list-endereco" role="tab" aria-controls="list-profile" aria-selected="false">Dados do veículo</a>
                            </div>
                        </div>

                        <div class="col-md-8 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fas fa-broadcast-tower mr-3"></i> Detalhes da Locação #@Html.DisplayFor(model => model.cod_locacao)
                                    </div>
                                    <div class="card-body">
                                        <div class="tab-content border-0" id="nav-tabContent">
                                            <div class="tab-pane fade active show" id="list-pessoais" role="tabpanel" aria-labelledby="list-home-list">
                                                <div class="list-view">
                                                    <h4>
                                                        Nome do motorista
                                                    </h4>

                                                    <p>
                                                        @Html.DisplayFor(model => model.tb_pessoa.nome_abreviado)
                                                    </p>
                                                </div>
                                                <hr>

                                                <div class="list-view">
                                                    <h4>
                                                        Data da locação
                                                    </h4>

                                                    <p>
                                                        @Html.DisplayFor(model => model.data_locacao)
                                                    </p>
                                                </div>
                                                <hr>

                                                <div class="list-view">
                                                    <h4>
                                                        Data de entrega
                                                    </h4>

                                                    <p>
                                                        @Html.DisplayFor(model => model.data_entrega)
                                                    </p>
                                                </div>
                                                <hr>

                                                <div class="list-view">
                                                    <h4>
                                                        Dias de locação
                                                    </h4>

                                                    <p>
                                                        @Html.DisplayFor(model => model.qtd_dias)
                                                    </p>
                                                </div>

                                                <hr>

                                                <div class="list-view">
                                                    <h4>
                                                        Valor da locação
                                                    </h4>

                                                    <p>
                                                        @Html.DisplayFor(model => model.valor_locacao)
                                                    </p>
                                                </div>
                                                <hr>
                                            </div>
                                            <div class="tab-pane fade" id="list-endereco" role="tabpanel" aria-labelledby="list-profile-list">
                                                <div class="list-view">
                                                    <h4>
                                                        Km original
                                                    </h4>

                                                    <p>
                                                        @Html.DisplayFor(model => model.km_original)
                                                    </p>
                                                </div>
                                                <hr>

                                                <div class="list-view">
                                                    <h4>
                                                        Novos km's
                                                    </h4>

                                                    <p>
                                                        @Html.DisplayFor(model => model.km_nova)
                                                    </p>
                                                </div>
                                                <hr>

                                                <div class="list-view">
                                                    <h4>
                                                        Nota fiscal
                                                    </h4>

                                                    <p>
                                                        @Html.DisplayFor(model => model.NF)
                                                    </p>
                                                </div>
                                                <hr>

                                                <div class="list-view">
                                                    <h4>
                                                        Veículo para alugar?
                                                    </h4>

                                                    <p>
                                                        @Html.DisplayFor(model => model.tb_veiculo.proprio_alugado)
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a href="/Locacoes" class="btn btn-default text-center">
                                    <i class="fas fa-arrow-left mr-3"></i> Voltar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
