@model Gestmove.Models.tb_locacao

@{
    ViewBag.Title = "Edit";
}

@*Breadcrumb*@
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"> Editar </li>
    <li class="breadcrumb-item active">@Html.DisplayFor(model => model.cod_pessoa)</li>
</ol>

<section class="container-pessoas">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12">
                            <h2>Editar locação #@Html.DisplayFor(model => model.cod_pessoa)</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-row">
                            <div class="col-12 px-3 mt-4">
                                <h4>Dados do contrato</h4>
                                <hr />
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group col-12">
                                <div class="d-flex flex-column flex-md-row justify-content-center">
                                    <div class="item-bloco col">
                                        <label>Código do motorista</label>
                                        @Html.DropDownList("cod_pessoa", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.cod_pessoa, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="item-bloco col">
                                        <label>Data locação  <sup class="text-danger">*</sup></label>
                                        @Html.EditorFor(model => model.data_locacao, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.data_locacao, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="item-bloco col">
                                        <label>Data de entrega</label>
                                        @Html.EditorFor(model => model.data_entrega, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.data_entrega, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="item-bloco col">
                                        <label>Quantidade de dias <sup class="text-danger">*</sup></label>
                                        @Html.EditorFor(model => model.qtd_dias, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.qtd_dias, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="item-bloco col">
                                        <label>Nota fiscal <sup>*</sup></label>
                                        @Html.EditorFor(model => model.NF, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NF, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 px-3 mt-4">
                                <h4>Dados do veículo</h4>
                                <hr />
                            </div>
                            <div class="form-group col-12">
                                <div class="d-flex flex-column flex-md-row justify-content-center">
                                    <div class="item-bloco col">
                                        <label>Veículo  <sup class="text-danger">*</sup></label>
                                        @Html.DropDownList("cod_veiculo", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.cod_veiculo, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="item-bloco col">
                                        <label>Valor da locação</label>
                                        @Html.EditorFor(model => model.valor_locacao, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.valor_locacao, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <div class="d-flex flex-column flex-md-row justify-content-center">
                                    <div class="item-bloco col">
                                        <label>Km original</label>
                                        @Html.EditorFor(model => model.km_original, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.km_original, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="item-bloco col">
                                        <label>Km novo <sup class="text-danger">*</sup></label>
                                        @Html.EditorFor(model => model.km_nova, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.km_nova, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <div class="item-bloco pr-3">
                                        <a href="/Locacoes" class="btn btn-default bg-danger"><i class="fas fa-times mr-3"></i> Cancelar</a>

                                    </div>
                                    <div class="item-bloco pr-3">
                                        <button type="submit" class="btn btn-default"><i class="far fa-save mr-3"></i> Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


@*<h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>tb_locacao</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.cod_locacao)

            <div class="form-group">
                @Html.LabelFor(model => model.cod_pessoa, "cod_pessoa", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("cod_pessoa", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.cod_pessoa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cod_veiculo, "cod_veiculo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("cod_veiculo", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.cod_veiculo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.data_locacao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.data_locacao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.data_locacao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.data_entrega, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.data_entrega, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.data_entrega, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.qtd_dias, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.qtd_dias, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.qtd_dias, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.km_original, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.km_original, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.km_original, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.km_nova, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.km_nova, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.km_nova, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.valor_locacao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.valor_locacao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.valor_locacao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NF, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NF, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NF, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
