@{
    ViewBag.Title = "Home Page";
}

@*Breadcrumb*@
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">
        <a href="#">Administração</a>
    </li>
    <li class="breadcrumb-item active">Dashboard</li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white bg-primary">
                            <div class="card-body pb-0">
                                <a class="btn btn-transparent p-0 float-right" href="/Pessoas">
                                    <i class="fas fa-address-card fa-2x"></i>
                                </a>

                                <div class="text-value">@Html.ViewBag.cod_motoristas</div>
                                <div>Motoristas online</div>
                            </div>
                            <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                                <canvas class="chart" id="card-chart1" height="70"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white bg-info">
                            <div class="card-body pb-0">
                                <a class="btn btn-transparent p-0 float-right" href="/Pessoas">
                                    <i class="fas fa-users fa-2x"></i>
                                </a>
                                <div class="text-value">@Html.ViewBag.cod_motoristas</div>
                                <div>Clientes</div>
                            </div>
                            <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                                <canvas class="chart" id="card-chart2" height="70"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white bg-warning">
                            <div class="card-body pb-0">
                                <div class="btn-group float-right">
                                    <a class="btn btn-transparent p-0" href="/Veiculos">
                                        <i class="fas fa-car-alt fa-2x"></i>
                                    </a>
                                </div>
                                <div class="text-value">@Html.ViewBag.cod_veiculos</div>
                                <div>Veículos alugados</div>
                            </div>
                            <div class="chart-wrapper mt-3" style="height:70px;">
                                <canvas class="chart" id="card-chart3" height="70"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white bg-danger">
                            <div class="card-body pb-0">
                                <div class="btn-group float-right">
                                    <a class="btn btn-transparent p-0" href="/Ocorrencias">
                                        <i class="fas fa-clipboard-list fa-2x"></i>
                                    </a>
                                </div>
                                <div class="text-value">@Html.ViewBag.cod_ocorrencias</div>
                                <div>Ocorrências realizadas</div>
                            </div>
                            <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                                <canvas class="chart" id="card-chart4" height="70"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> Viagens cadastradas
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive-sm">
                                    <thead>
                                        <tr>
                                            <th>Data de saída</th>
                                            <th>Data de chegada</th>
                                            <th>Valor</th>
                                            <th>Cliente</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        @foreach (var item in ViewBag.cod_viagens)
                                        {
                                            <tr>
                                                <td>@item.data_saida</td>
                                                <td>@item.data_chegada</td>
                                                <td>@item.valor</td>
                                                <td>@item.tb_pessoa.nome_abreviado</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>