@model Gestmove.Models.tb_ocorrencia

@{
    ViewBag.Title = "Delete";
}

@*Breadcrumb*@
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Deletar</li>
    <li class="breadcrumb-item active">@Html.DisplayFor(model => model.cod_ocorrencia)</li>
</ol>

<section class="container-ocorrencias">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-body">
                    <div class="row mt-2">
                        <div class="col-12 text-right d-flex flex-row justify-content-end">
                            <a href="/Ocorrencias" class="btn btn-default m-0">
                                <i class="fas fa-arrow-left mr-3"></i> Voltar
                            </a>
                        </div>
                    </div>
                    <div class="row mt-3 justify-content-center">
                        <div class="col-12">
                            <div class="card text-white bg-danger">
                                <div class="card-header">
                                    <h4 class="text-light text-center mb-0">Deseja realmente deletar esta ocorrência?</h4>
                                </div>
                                <div class="card-body">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-actions no-color text-center">
                                            <button type="submit" class="btn text-light text-uppercase btn-delete-all"><i class="fas fa-trash mr-3"></i> SIM</button>
                                        </div>
                                    }

                                    <div class="conteudo d-none">
                                        <dl class="dl-horizontal">
                                            <dt>
                                                @Html.DisplayNameFor(model => model.motivo)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.motivo)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.pontos)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.pontos)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.valor)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.valor)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.obs_motorista)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.obs_motorista)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.tb_pessoa.nome_abreviado)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.tb_pessoa.nome_abreviado)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.tb_veiculo.proprio_alugado)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.tb_veiculo.proprio_alugado)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.tb_viagem.cod_viagem)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.tb_viagem.cod_viagem)
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>