@model Gestmove.Models.tb_ocorrencia

@{
    ViewBag.Title = "Details";
}

@*Breadcrumb*@
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Detalhes</li>
    <li class="breadcrumb-item active">@Html.DisplayFor(model => model.cod_ocorrencia)</li>
</ol>

<section class="container-ocorrencias">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-body">
                    <div class="row mt-5">
                        <div class="col-md-8 offset-md-2 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fas fa-file-signature mr-3"></i> Detalhes da ocorrência #@Html.DisplayFor(model => model.cod_ocorrencia)
                                </div>
                                <div class="card-body">
                                    <div class="tab-content border-0" id="nav-tabContent">
                                        <div class="tab-pane fade active show" id="list-pessoais" role="tabpanel" aria-labelledby="list-home-list">
                                            <div class="list-view">
                                                <h4>
                                                    Código da viagem
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.tb_viagem.cod_viagem)
                                                </p>
                                            </div>
                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Motorista responsável
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.tb_pessoa.nome_abreviado)
                                                </p>
                                            </div>
                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Veículo usado na viagem
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.tb_veiculo.modelo)
                                                </p>
                                            </div>

                                            <hr />

                                            <div class="list-view">
                                                <h4>
                                                    Motivo da ocorrência
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.motivo)
                                                </p>
                                            </div>
                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Pontos na carteira
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.pontos)
                                                </p>
                                            </div>

                                            <div class="list-view">
                                                <h4>
                                                    Valor da ocorrência
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.valor)
                                                </p>
                                            </div>

                                            <div class="list-view">
                                                <h4>
                                                    Observação
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.pontos)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a href="/Ocorrencias" class="btn btn-default text-center">
                                <i class="fas fa-arrow-left mr-3"></i> Voltar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>