@model Gestmove.Models.tb_ocorrencia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_ocorrencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pontos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pontos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obs_motorista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obs_motorista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_pessoa.nome_abreviado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_pessoa.nome_abreviado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_veiculo.proprio_alugado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_veiculo.proprio_alugado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_viagem.cod_viagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_viagem.cod_viagem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cod_ocorrencia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
