@model IEnumerable<Gestmove.Models.tb_ocorrencia>

@{
    ViewBag.Title = "Index";
}

@*Breadcrumb*@
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Ocorrências</li>
    <li class="breadcrumb-item active">Todos</li>
</ol>

<section class="container-ocorrencias">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h2>Todas as ocorrências</h2>
                        </div>

                        <div class="col-4 d-flex justify-content-end">
                            <a href="/Ocorrencias/Create" class="btn btn-add"><i class="fas fa-plus mr-3"></i> Novo</a>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <table class="table table-responsive-sm table-striped">
                                <thead>
                                    <tr>
                                        <th>Motorista</th>
                                        <th>Veículo</th>
                                        <th>Pontos</th>
                                        <th>Valor</th>
                                        <th>Código da viagem</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.tb_pessoa.nome_abreviado)</td>
                                            <td>@Html.DisplayFor(modelItem => item.tb_veiculo.modelo)</td>
                                            <td>@Html.DisplayFor(modelItem => item.pontos)</td>
                                            <td>@Html.DisplayFor(modelItem => item.valor)</td>
                                            <td>@Html.DisplayFor(modelItem => item.tb_viagem.cod_viagem)</td>

                                            <td class="links-acoes">
                                                <a href="/Ocorrencias/Edit/@Html.DisplayFor(modelItem => item.cod_ocorrencia)" class="btn-funcoes btn-edit">
                                                    <i class="far fa-edit"></i>
                                                </a>

                                                <a href="/Ocorrencias/Details/@Html.DisplayFor(modelItem => item.cod_ocorrencia)" class="btn-funcoes btn-show mx-3">
                                                    <i class="far fa-eye"></i>
                                                </a>

                                                <a href="/Ocorrencias/Delete/@Html.DisplayFor(modelItem => item.cod_ocorrencia)" class="btn-funcoes btn-delete">
                                                    <i class="far fa-trash-alt text-danger"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>