@model Gestmove.Models.tb_manutencao

@{
    ViewBag.Title = "Details";
}

@*Breadcrumb*@
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Detalhes</li>
    <li class="breadcrumb-item active">@Html.DisplayFor(model => model.cod_manutencao)</li>
</ol>

<section class="container-manutencoes">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-body">
                    <div class="row mt-5">
                        <div class="col-md-8 offset-md-2 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fas fa-hammer mr-3"></i> Detalhes da manutenção do @Html.DisplayFor(model => model.tb_veiculo.modelo)
                                </div>
                                <div class="card-body">
                                    <div class="tab-content border-0" id="nav-tabContent">
                                        <div class="tab-pane fade active show" id="list-pessoais" role="tabpanel" aria-labelledby="list-home-list">
                                            <div class="list-view">
                                                <h4>
                                                    Veículo
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.tb_veiculo.modelo)
                                                </p>
                                            </div>
                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Tipo de manutenção
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.tipo)
                                                </p>
                                            </div>
                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Motivo da manutenção
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.motivo)
                                                </p>
                                            </div>

                                            <hr />

                                            <div class="list-view">
                                                <h4>
                                                    Data da manutenção
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.data)
                                                </p>
                                            </div>
                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Valor da manutenção
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.valor)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a href="/Manutencoes" class="btn btn-default text-center">
                                <i class="fas fa-arrow-left mr-3"></i> Voltar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>