@model Gestmove.Models.tb_veiculo

@{
    ViewBag.Title = "Details";
    ViewBag.Link = "Veiculos";
}

@*Breadcrumb*@
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Detalhes</li>
    <li class="breadcrumb-item active">@Html.DisplayFor(model => model.cod_veiculo)</li>
</ol>

<section class="container-veiculos">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-body">
                    <div class="row mt-5">
                        <div class="col-4">
                            <div class="list-group" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="tab" href="#list-pessoais" role="tab" aria-controls="list-home" aria-selected="true">Dados do veículo</a>
                                <a class="list-group-item list-group-item-action" id="list-endereco-list" data-toggle="tab" href="#list-endereco" role="tab" aria-controls="list-profile" aria-selected="false">Visual do veículo</a>
                            </div>
                        </div>

                        <div class="col-md-8 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fas fa-car mr-3"></i> @Html.DisplayFor(model => model.modelo)
                                </div>
                                <div class="card-body">
                                    <div class="tab-content border-0" id="nav-tabContent">
                                        <div class="tab-pane fade active show" id="list-pessoais" role="tabpanel" aria-labelledby="list-home-list">
                                            <div class="list-view">
                                                <h4>
                                                    Está disponivel para aluguel?
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.proprio_alugado)
                                                </p>
                                            </div>
                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Fornecedor
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.cod_fornecedor)
                                                </p>
                                            </div>
                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Placa
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.placa)
                                                </p>
                                            </div>
                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Uf da placa
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.uf)
                                                </p>
                                            </div>

                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Chassi
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.chassi)
                                                </p>
                                            </div>

                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Tipo de Chassi
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.tipo_chassi)
                                                </p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="list-endereco" role="tabpanel" aria-labelledby="list-profile-list">
                                            <div class="list-view">
                                                <h4>
                                                    Marca
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.marca)
                                                </p>
                                            </div>
                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Modelo
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.modelo)
                                                </p>
                                            </div>
                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Cor do veículo
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.cor)
                                                </p>
                                            </div>
                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Km
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.km)
                                                </p>
                                            </div>

                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Tipo de combustivel
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.combustivel)
                                                </p>
                                            </div>

                                            <hr>

                                            <div class="list-view">
                                                <h4>
                                                    Observação
                                                </h4>

                                                <p>
                                                    @Html.DisplayFor(model => model.observacao)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a href="/Veiculos" class="btn btn-default text-center">
                                <i class="fas fa-arrow-left mr-3"></i> Voltar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>